parameters:
	ignoreErrors:
		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\DataProcessing\\\\FlexFormProcessor\\:\\:process\\(\\) has parameter \\$contentObjectConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\DataProcessing\\\\FlexFormProcessor\\:\\:process\\(\\) has parameter \\$processedData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\DataProcessing\\\\FlexFormProcessor\\:\\:process\\(\\) has parameter \\$processorConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\DataProcessing\\\\FlexFormProcessor\\:\\:process\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\DataProcessing\\\\FlexFormProcessor\\:\\:\\$flexFormService \\(TYPO3\\\\CMS\\\\Core\\\\Service\\\\FlexFormService\\) does not accept object\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\Hooks\\\\PageLayoutView\\\\ContentElementPreviewRenderer\\:\\:preProcess\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\Hooks\\\\PageLayoutView\\\\ContentElementPreviewRenderer\\:\\:preProcess\\(\\) has parameter \\$row with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\Hooks\\\\PageLayoutView\\\\ContentElementPreviewRenderer\\:\\:\\$flexFormData has no type specified\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\Hooks\\\\PageLayoutView\\\\ContentElementPreviewRenderer\\:\\:\\$languageService has no type specified\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\Hooks\\\\PageLayoutView\\\\ContentElementPreviewRenderer\\:\\:\\$row has no type specified\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\Service\\\\ProgrammingLanguages\\:\\:getAliases\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/ProgrammingLanguages.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\Service\\\\ProgrammingLanguages\\:\\:getAvailableProgrammingLanguages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/ProgrammingLanguages.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\Service\\\\ProgrammingLanguages\\:\\:getTcaItems\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/ProgrammingLanguages.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\Service\\\\ProgrammingLanguages\\:\\:\\$languageService has no type specified\\.$#"
			count: 1
			path: Classes/Service/ProgrammingLanguages.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\Service\\\\TranslationService\\:\\:translate\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: Classes/Service/TranslationService.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\CssViewHelper\\:\\:getPageRenderer\\(\\) should return TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer but returns object\\.$#"
			count: 1
			path: Classes/ViewHelpers/CssViewHelper.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\CssViewHelper\\:\\:renderStatic\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ViewHelpers/CssViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\CssViewHelper\\:\\:\\$pageRenderer through static\\:\\:\\.$#"
			count: 3
			path: Classes/ViewHelpers/CssViewHelper.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:renderStatic\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$codeClasses has no type specified\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$configuration has no type specified\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$options has no type specified\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$preAttributes has no type specified\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$preClasses has no type specified\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$snippet has no type specified\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Static property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$pageRenderer \\(TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer\\) does not accept object\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$codeClasses through static\\:\\:\\.$#"
			count: 5
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$configuration through static\\:\\:\\.$#"
			count: 8
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$id through static\\:\\:\\.$#"
			count: 3
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$options through static\\:\\:\\.$#"
			count: 23
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$pageRenderer through static\\:\\:\\.$#"
			count: 7
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$preAttributes through static\\:\\:\\.$#"
			count: 4
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$preClasses through static\\:\\:\\.$#"
			count: 5
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$snippet through static\\:\\:\\.$#"
			count: 3
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$translationService through static\\:\\:\\.$#"
			count: 4
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:addCssFile\\(\\) through static\\:\\:\\.$#"
			count: 7
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:addJsFile\\(\\) through static\\:\\:\\.$#"
			count: 8
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:addToPreAttributes\\(\\) through static\\:\\:\\.$#"
			count: 13
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:buildHtml\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleCommandLine\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleCopyToClipboard\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleInlineColour\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleLineNumbers\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleMainAssets\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleProgrammingLanguage\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:initialisePageRenderer\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:translate\\(\\) through static\\:\\:\\.$#"
			count: 3
			path: Classes/ViewHelpers/PrismViewHelper.php
