parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method convertFlexFormContentToArray\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Service\\\\FlexFormService\\|null\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\DataProcessing\\\\FlexFormProcessor\\:\\:process\\(\\) has parameter \\$contentObjectConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\DataProcessing\\\\FlexFormProcessor\\:\\:process\\(\\) has parameter \\$processedData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\DataProcessing\\\\FlexFormProcessor\\:\\:process\\(\\) has parameter \\$processorConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\DataProcessing\\\\FlexFormProcessor\\:\\:\\$flexFormService \\(TYPO3\\\\CMS\\\\Core\\\\Service\\\\FlexFormService\\|null\\) does not accept object\\.$#"
			count: 1
			path: Classes/DataProcessing/FlexFormProcessor.php

		-
			message: "#^Cannot access offset string on array\\|int\\|string\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\Hooks\\\\PageLayoutView\\\\ContentElementPreviewRenderer\\:\\:preProcess\\(\\) has parameter \\$row with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Offset 'bodytext' does not exist on array\\<string, int\\|string\\|null\\>\\|null\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Parameter \\#1 \\$input of method Brotkrueml\\\\CodeHighlight\\\\Hooks\\\\PageLayoutView\\\\ContentElementPreviewRenderer\\:\\:renderText\\(\\) expects string, int\\<min, \\-1\\>\\|int\\<1, max\\>\\|string given\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Property Brotkrueml\\\\CodeHighlight\\\\Hooks\\\\PageLayoutView\\\\ContentElementPreviewRenderer\\:\\:\\$flexFormData type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/ContentElementPreviewRenderer.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\Service\\\\ProgrammingLanguages\\:\\:getAliases\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/ProgrammingLanguages.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\Service\\\\ProgrammingLanguages\\:\\:getTcaItems\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/ProgrammingLanguages.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\CssViewHelper\\:\\:getPageRenderer\\(\\) should return TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer but returns object\\.$#"
			count: 1
			path: Classes/ViewHelpers/CssViewHelper.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\CssViewHelper\\:\\:renderStatic\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ViewHelpers/CssViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\CssViewHelper\\:\\:\\$pageRenderer through static\\:\\:\\.$#"
			count: 3
			path: Classes/ViewHelpers/CssViewHelper.php

		-
			message: "#^Cannot call method addCssFile\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer\\|null\\.$#"
			count: 2
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Cannot call method addJsFooterFile\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer\\|null\\.$#"
			count: 2
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:renderStatic\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Static property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$pageRenderer \\(TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer\\|null\\) does not accept object\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$codeClasses through static\\:\\:\\.$#"
			count: 5
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$configuration through static\\:\\:\\.$#"
			count: 8
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$id through static\\:\\:\\.$#"
			count: 3
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$options through static\\:\\:\\.$#"
			count: 23
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$pageRenderer through static\\:\\:\\.$#"
			count: 7
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$preAttributes through static\\:\\:\\.$#"
			count: 4
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$preClasses through static\\:\\:\\.$#"
			count: 5
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$snippet through static\\:\\:\\.$#"
			count: 3
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe access to private property Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:\\$translationService through static\\:\\:\\.$#"
			count: 4
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:addCssFile\\(\\) through static\\:\\:\\.$#"
			count: 7
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:addJsFile\\(\\) through static\\:\\:\\.$#"
			count: 8
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:addToPreAttributes\\(\\) through static\\:\\:\\.$#"
			count: 13
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:buildHtml\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleCommandLine\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleCopyToClipboard\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleInlineColour\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleLineNumbers\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleMainAssets\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:handleProgrammingLanguage\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:initialisePageRenderer\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrismViewHelper.php

		-
			message: "#^Unsafe call to private method Brotkrueml\\\\CodeHighlight\\\\ViewHelpers\\\\PrismViewHelper\\:\\:translate\\(\\) through static\\:\\:\\.$#"
			count: 3
			path: Classes/ViewHelpers/PrismViewHelper.php
