<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../.Build/vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    cacheResult="false"
    executionOrder="random"
    failOnRisky="true"
    failOnWarning="true"
>
    <coverage>
        <report>
            <clover outputFile="../.Build/logs/clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="unit">
            <directory>Unit/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="../.Build/logs/phpunit.xml"/>
    </logging>
    <source>
        <include>
            <directory>../Classes/</directory>
        </include>
    </source>
</phpunit>
