<html
    xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:codeHighlight="https://typo3.org/ns/Brotkrueml/CodeHighlight/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:if condition="{data.bodytext}">
        <f:variable name="theme" value="EXT:codehighlight/Resources/Public/Vendor/PrismJs/themes/prism.css"/>
        <f:if condition="{site.configuration.codehighlightTheme}">
            <f:variable name="theme" value="{site.configuration.codehighlightTheme}"/>
        </f:if>

        <codeHighlight:asset.style path="{theme}"/>
        <codeHighlight:asset.script path="EXT:codehighlight/Resources/Public/Vendor/PrismJs/components/prism-core.min.js"/>
        <codeHighlight:asset.script path="EXT:codehighlight/Resources/Public/Vendor/PrismJs/plugins/autoloader/prism-autoloader.min.js"/>

        <f:variable name="preClasses" value=""/>
        <f:if condition="{options.showLineNumbers}">
            <codeHighlight:asset.style path="EXT:codehighlight/Resources/Public/Vendor/PrismJs/plugins/line-numbers/prism-line-numbers.css"/>
            <codeHighlight:asset.script path="EXT:codehighlight/Resources/Public/Vendor/PrismJs/plugins/line-numbers/prism-line-numbers.min.js"/>
            <f:variable name="preClasses">{preClasses} line-numbers</f:variable>
        </f:if>

        <f:variable name="preAttributes"/>
        <f:if condition="{preClasses}">
            <f:variable name="preAttributes">{preAttributes} class="{preClasses}"</f:variable>
        </f:if>
        <f:if condition="{options.showLineNumbers} && {options.startWithLineNumber}">
            <f:variable name="preAttributes">{preAttributes} data-start="{options.startWithLineNumber}"</f:variable>
        </f:if>
        <f:if condition="{options.highlightLines}">
            <codeHighlight:asset.style path="EXT:codehighlight/Resources/Public/Vendor/PrismJs/plugins/line-highlight/prism-line-highlight.css"/>
            <codeHighlight:asset.script path="EXT:codehighlight/Resources/Public/Vendor/PrismJs/plugins/line-highlight/prism-line-highlight.min.js"/>
            <f:variable name="preAttributes">{preAttributes} data-line="{options.highlightLines}"</f:variable>

            <f:if condition="{options.startWithLineNumber}">
                <f:variable name="preAttributes">{preAttributes} data-line-offset="{codeHighlight:math.subtract(subtrahend: options.startWithLineNumber, minuend: 1)}"</f:variable>
            </f:if>
        </f:if>

        <pre id="c{data.uid}"{preAttributes -> f:format.raw()}><code class="language-{options.programmingLanguage}">{data.bodytext}</code></pre>
    </f:if>
</html>
